---
const { cols, rows } = Astro.props;
---

<style>
	.table-hover {
		width: 100%;
		border-collapse: collapse;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		text-align: center;
		table-layout: fixed;

		th,
		td {
			border: 1px solid #e6e6e6;
			padding: 5px;
		}

		thead th {
			padding: 10px;
		}

		tbody tr:hover {
			background-color: #f2f2f2;
		}
	}
</style>

<div class="rounded-lg">
	<table class="table-hover">
		<thead>
			<tr>
				{cols.map((col: any) => <th>{col.name}</th>)}
			</tr>
			<tbody>
				{
					rows.map((row: any, i: string) => (
						<tr id={i}>
							{cols.map((col: any, j: string) => (
								<td id={`${i}_${j}`}>{row[col.key]}</td>
							))}
						</tr>
					))
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan={cols.length}>Total: {rows.length}</td>
				</tr>
			</tfoot>
		</thead>
	</table>
</div>
